@import "~/src/scss/index.scss";

.header-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.25em;

    border-bottom: 1px solid $border;

    &__left{
        padding-left: 30px;

        &-menu{
            .link{
                padding-left: 10px;
                font-size: x-large;
                color: black;
                font-weight: 400;
            }
            .link.active{
                font-weight: bold;
            }
        }

        &-logo{
            >.ui.image{
                width: 300px;
            }
        }
    }

    &__right{
        padding-right: 30px;

        .responsive-menu{
            display: none;
        }
    }
}

@media only screen and (max-width: 800px ){
    .header-page__left-logo{
        >.ui.image{
            width: 150px;
        }
    }
}

@media only screen and (max-width: 600px){
    .header-page__left{
        display: none;

        &-logo{
            padding-left: 30px;
        }
    }

    .header-page__right{
        &-buttons{
            display: none;
        }
        .responsive-menu{
            display: block;

            .link{
                color: black;
            }
            .link.active{
                font-weight: bold;
            }

            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}