@import "~/src/scss/index.scss";

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.25em;

    border-bottom: 1px solid $border;
    box-shadow: 0px -4px 15px 0px $border;

    &__left{
        padding-left: 3.5em;
        margin: 0.5em;

        &-menu{
            padding-left: 1.25em;
            .link{
                padding-left: 0.5em;
                font-size: x-large;
                color: black;
                font-weight: 400;
            }
            .link.active{
                font-weight: bold;
            }
        }
    }

    &__right{
        padding-right: 6.25em;
    }

}