.banner{
    height: 35em;
    background-image: url("../../../../assets/jpg/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


    &__dark{
        background-color: black;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
    }

    >.ui.container{
        margin-top: 0 !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        color: white;
        font-size: 4em;
        line-height: 2em ;
        z-index: 1;
    }

    h2{
        margin-left: 1em;
        color: white;
        font-weight: 100;
        font-size: 1.5em;
        z-index: 1;
    }
}

@media only screen and (max-width: 600px){
    .banner{
        h1{
            font-size:  2em;
        }
        h2{
            font-size: 1em;
        }
    }
}