.profile{
    height: 100%;

    &-box{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        &__content{
            padding-left: 30px;
            padding-right: 30px;
        }

        .box-buttons{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }  
        
        .followers{
            margin: 0 0 14px 0;
        }
    }
}