.profile{
    height: 100%;

    &-box{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        &__content{
            padding-left: 30px;
            padding-right: 30px;
        }

        .box-buttons{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .profile-box__buttons:hover{
                cursor: pointer;
            }
        }  
        
        .followers{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 600px){
    .profile{
        &-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__content{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .box-buttons{
                    width: 60%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }
        }
    }
}