.ui.list{
    .seccion{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;  

        &__container{
            display: flex;
            align-items: center;
        }

        &__clickeable{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        h4{
            margin-left: 10px;
            color: black;
        }
    }

    

    .seccion:hover{
        cursor: pointer;
    }
}