
.list-posts{
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;

    &__filters{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-order{
            height: 40px;
            >.ui.dropdown{
                font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
                padding: 0.67857143em 1em;
                border: 1px solid rgba(34,36,38,.15);
                border-radius: 0.28571429rem;
            }
        }

        &-search{
            height: 40px;
        >.ui.form{
            >.fields{
                >.field{
                    padding: 0;
                    >.ui.input{
                        >input{
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                        height: 40px;
                        border-right: 0;
                        padding-left: 10px;
                    }
                    >.ui.button{
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-left: 0;
                        height: 40px;
                    }
                }
            }
        }
        }

        .responsive-filters{
            display: none;
        }
    }



    .list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .item{
            width: 25%;
            padding: 5px;
        }
    }

    .pagination{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 20px;

        a{
            opacity: 0.6;

            &.active{
                opacity: 1;
                border-color: aliceblue !important;
            }
        }
    }

    .ui.message{
        width: 100%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 500px){
    .list-posts{
        &__filters{
            justify-content: flex-end;
            &-order{
                display: none;
            }
            &-search{
                display: none;
            }
            .responsive-filters{
                display: block;
            }
        }
    }    

    .list-posts{
        padding-left: 10px;
        padding-right: 10px;
        .list{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            .item{
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px){
    .list-posts{
        padding-left: 30px;
        padding-right: 30px;
        .list{
            .item{
                width: 50%;
            }
        }
    }
    
}

@media only screen and (min-width: 800px) and (max-width: 1200px){
    .list-posts{
        padding-left: 40px;
        padding-right: 40px;
        .list{
            .item{
                width: 33.33%;
            }
        }
    }
    
}