
.list-posts{
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;

    &__filters{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-order{
            height: 40px;
            >.ui.dropdown{
                font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
                padding: 0.67857143em 1em;
                border: 1px solid rgba(34,36,38,.15);
                border-radius: 0.28571429rem;
            }
        }

        &-search{
            height: 40px;
        >.ui.form{
            >.fields{
                >.field{
                    padding: 0;
                    >.ui.input{
                        >input{
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                        height: 40px;
                        border-right: 0;
                        padding-left: 10px;
                    }
                    >.ui.button{
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-left: 0;
                        height: 40px;
                    }
                }
            }
        }
    }
    }



    .list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .item{
            width: 25%;
            padding: 5px;
        }
    }

    .pagination{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 20px;

        a{
            opacity: 0.6;

            &.active{
                opacity: 1;
                border-color: aliceblue !important;
            }
        }
    }
}