@import "~/src/scss/index.scss";

.footer{
    width: 100%;

    padding: 1.25em 3em 1.35em 3em;

    border-top: 1px solid $border;

    &__left{
        display: flex;
        align-items: center;
        justify-content: space-between;

        >.ui.image{
            width: 200px;
        }

        .social{
            padding-top: 5px;
        }
    }

    &__right{
        text-align: justify;
        padding-top: 20px;
        opacity: 0.6;
    }

    &__rights{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        opacity: 0.4;
    }
}

@media only screen and (max-width: 500px){
    .footer__left{
        >.ui.image{
            width: 100px;
        } 
    }
}