@import "~/src/scss/index.scss";

.auth{
    background-image: url("../../../assets/jpg/blog-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &-container{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 30px;

        border-radius: 20px;

        &-image{
            margin-bottom: 10px;
        }
    }

    &__forms{
        width: 100%;

        .ui.menu{
            .item{
                width: 50%;
                justify-content: center;

                font-size: 1.2em;

                &.active{
                    font-weight: normal;
                }
            }

            
            .ui.tab.active{
                background-color: red !important;
            }
        }
    }
}

@media only screen and (max-width: 300px){
    .auth{
        &-container{
            &-image{
                >.ui.image{
                    width: 200px;
                }
            }
        }
    }
}