.user-profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 60px 50px;

    &__info{
        width: 100%;
        margin-top: 30px;
        border-bottom: 1px solid rgba(201, 201, 201, 0.8);
    }

    &__posts{
        width: 100%;
    }
}