.list-profile-post{
        &__item{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 10px;

            .item{
                width: 25%;
                padding: 5px;
            }
        }

        .pagination{
            display: flex;
            justify-content: center;
            margin-top: 5px;
            margin-bottom: 20px;
    
            a{
                opacity: 0.6;
    
                &.active{
                    opacity: 1;
                    border-color: aliceblue !important;
                }
            }
        }
}