.ui.container{
    margin-top: 3em;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .post{
        padding: 3em 9.5em 3em 9.5em;
        border: 1px solid #e0e0e0;
        border-radius: 1.25em;

        &__info{
            margin: 10px 0 20px 0;
            &-author{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.5em;

                &-info{
                    > .ui.avatar.image{
                        width: 3.75em;
                        height: 3.75em;
                    }
        
                    &-username{
                        font-size: medium;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: black;
                    }  
                }
                
            }
        }

        &__image{
            >.ui.image{
                width: 100%;
                height: auto;
            }
        }

        &__content{
            width: 100%;

            &-title{
                margin-top: 1.25em;
                > h1{
                    font-size: xx-large;
                    font-weight: bold;
                }
            }

            &-date{
                margin-bottom: 1.25em;
                opacity: 0.6;
            }

            &-content{
                text-align: justify;
            }
        
            &-like{
                display: flex;
                align-items: center;
                justify-content: flex-end;

                padding-top: 1.25em;

                &-disable{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    >p{
                        opacity: 0.4;
                        font-size: small;
                        padding: 0.5em;
                    }
                }
                
            }
        }
    }


}